
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @profile.alias %>
      </h1>
      <h2 class="subtitle">
      	 <strong>Description:</strong> <%= @profile.description %>
      </h2>
      <h2 class="subtitle">
		<strong>Price:</strong> <%= @profile.price %>
      </h2>
    </div>
  </div>
</section>
	<%= link_to "Edit", edit_profile_path %> - <%= link_to "Destroy", profile_path, method: :delete, data: {confirm: "Are you sure you want to delete profile?"} %>
